<% provide(:title, "Sign in") %>
<div align="center">
  <div id="login-box">
    <div id="title">Login to <strong>HRMApp</strong></div>
      <div align="left">
        <table id="ctlLogin" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;">
          <tr>
            <td>
                <%= form_for(:session, url: sessions_path) do |f| %>
                <div class="inner-addon left-addon input-group input-group-lg login-box-field ">
                  <i class="glyphicon glyphicon-user"></i>
                  <%= f.text_field :name, class: "form-control form-login", placeholder: 'Username', autofocus: true%>
                </div>
            </td>
          </tr>
          <tr>
            <td>
                <div class="inner-addon left-addon login-box-field input-group input-group-lg ">
                  <%= f.password_field :password, class: "form-control form-login",placeholder: 'Password'%>
                  <i class="glyphicon glyphicon-lock"></i>
                </div>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.submit "Sign in", class: "btn btn-large btn-primary btn-cust" %>
              <% end %>
            </td>
          </tr>
        </table>  
      </div>
  </div>
</div>
  <div class="copyright" align="center">
    Copyright &copy; 2014 &nbsp;
    <a href="http://palmate.in"><span id="dots">Palmate Technologies</span></a>
  </div>
  <% if false %>
     background:#dfdfdf;
  <% end %>
