<!DOCTYPE html>
  <div id="mainmanu">
     <ul class="menu nav nav-tabs nav-stacked">
        <li class="dropdown"><a data-toggle="collapse" href="#productsMenu" data-parent="#mainmenu">Products <b class="caret"></b></a>
           <ul class="nav nav-tabs nav-stacked sub-menu" id="productsMenu">
              <li><a href="http://vakratundasystem.in/application/Inventory/index.php?module=products">List Products</a></li>
              <li><a href="http://vakratundasystem.in/application/Inventory/index.php?module=products&amp;view=add">New Product</a></li>
              <li><a href="http://vakratundasystem.in/application/Inventory/index.php?module=products&amp;view=sheet">Print Barcodes</a></li>
              <li><a href="http://vakratundasystem.in/application/Inventory/index.php?module=products&amp;view=labels">Print Labels</a></li>
             <li><a href="http://vakratundasystem.in/application/Inventory/index.php?module=products&amp;view=upload_csv">Add Products by CSV</a></li>
              <li><a href="http://vakratundasystem.in/application/Inventory/index.php?module=products&amp;view=update_price">Update Products Price</a></li>
           <li><a href="http://vakratundasystem.in/application/Inventory/index.php?module=products&amp;view=damage_products">Damage Products Detail</a></li>
          </ul>
       </li>
         </ul>

                    
</div>
      <div id="mainmanu">
     <ul class="menu nav nav-tabs nav-stacked">
      <li class="dropdown"><a data-toggle="collapse" href="#transfersMenu" data-parent="#mainmenu"><i class="icon-random icon-white"></i> Transfers <b class="caret"></b></a>
        <ul class="nav nav-tabs nav-stacked sub-menu" id="transfersMenu">
           <li><a href="http://vakratundasystem.in/application/Inventory/index.php?module=transfers">List All Transfers</a></li>
           <li><a href="http://vakratundasystem.in/application/Inventory/index.php?module=transfers&amp;view=add">Transfer Products</a></li>
           <li><a href="http://vakratundasystem.in/application/Inventory/index.php?module=transfers&amp;view=transfer_csv">Transfer Products by CSV</a></li>
       </ul>
     </li>

   </ul>

                    
</div>
